.header__square-pic {
  /* outline: 1px #f66 solid; */
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  object-fit: fill;
  object-position: right top;
     }