<<<<<<< HEAD
.khan__quote {
   /* outline: 1px #f66 solid; */
   margin: 0;
   padding: 0;
   line-height: 34px;
   font-size: 24px;
   font-weight: normal;
   max-width: 790px;
   margin-top: 50px;
   margin-bottom: 36px;
=======
.khan__quote {
   /* outline: 1px #f66 solid; */
   margin: 0;
   padding: 0;
   line-height: 34px;
   font-size: 24px;
   font-weight: normal;
   max-width: 790px;
   margin-top: 50px;
   margin-bottom: 36px;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}