<<<<<<< HEAD
.resources__link {
   /* outline: 1px #f66 solid; */
   display: block;
}

.resources__link:hover {
   opacity: .3;
   transition: 3s;
=======
.resources__link {
   /* outline: 1px #f66 solid; */
   display: block;
}

.resources__link:hover {
   opacity: .3;
   transition: 3s;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}