<<<<<<< HEAD
.cards__description {
/*    outline: 1px #f66 solid; */
   margin: 0;
   text-align: center;
   line-height: 23px;
   font-size: 18px;
   font-weight: normal;
=======
.cards__description {
/*    outline: 1px #f66 solid; */
   margin: 0;
   text-align: center;
   line-height: 23px;
   font-size: 18px;
   font-weight: normal;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }