<<<<<<< HEAD
.feynman__image {
   /*     outline: 1px #f66 solid;  */
       /* background-image: url(./images/feynman.png"); */
       background-image: url(../../../images/feynman.png);
       width: 867px;
       height: 637px;
       bottom: 0;
       z-index: 0;
       position: absolute;
       left: 0;
=======
.feynman__image {
   /*     outline: 1px #f66 solid;  */
       /* background-image: url(./images/feynman.png"); */
       background-image: url(../../../images/feynman.png);
       width: 867px;
       height: 637px;
       bottom: 0;
       z-index: 0;
       position: absolute;
       left: 0;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
     }