<<<<<<< HEAD
.khan {
   /* outline: 1px green solid; */
   background: #f2f2f2;
   display: flex;
   justify-content: center;
=======
.khan {
   /* outline: 1px green solid; */
   background: #f2f2f2;
   display: flex;
   justify-content: center;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}