<<<<<<< HEAD
.feynman {
   /*   outline: 1px #f66 solid; */
   /*   min-height: 890px;   */
     background: #f2f2f2;
     position: relative;
     min-height: 890px;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 0;
=======
.feynman {
   /*   outline: 1px #f66 solid; */
   /*   min-height: 890px;   */
     background: #f2f2f2;
     position: relative;
     min-height: 890px;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 0;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }