<<<<<<< HEAD
.video {
   /* outline: 1px #f66 solid; */
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: -60px;
=======
.video {
   /* outline: 1px #f66 solid; */
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: -60px;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}