<<<<<<< HEAD
.footer__author {
   /*   outline: 1px #f66 solid; */
     line-height: 25px;
     font-size: 18px;
     font-weight: normal;
     padding: 18px 0 18px 0;
     margin: 0;
=======
.footer__author {
   /*   outline: 1px #f66 solid; */
     line-height: 25px;
     font-size: 18px;
     font-weight: normal;
     padding: 18px 0 18px 0;
     margin: 0;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }