<<<<<<< HEAD
.khan__container {
   /* outline: 1px #f66 solid; */
   width: 80%;
   padding-top: auto;
=======
.khan__container {
   /* outline: 1px #f66 solid; */
   width: 80%;
   padding-top: auto;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}