<<<<<<< HEAD
.logo {
   /*   outline: 1px #f66 solid;  */
     width: 228px;
     height: 32px;
=======
.logo {
   /*   outline: 1px #f66 solid;  */
     width: 228px;
     height: 32px;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }