<<<<<<< HEAD
.cards__image {
/*    outline: 1px #f66 solid; */
   margin: 0 40px 43px 40px;
   display: block;
   width: 160px;
   height: 160px;
   border-radius: 50%;
=======
.cards__image {
/*    outline: 1px #f66 solid; */
   margin: 0 40px 43px 40px;
   display: block;
   width: 160px;
   height: 160px;
   border-radius: 50%;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}