<<<<<<< HEAD
.footer__column-heading {
   /*   outline: 1px #f66 solid; */
     line-height: 30px;
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 20px;
     margin-top: 0;
=======
.footer__column-heading {
   /*   outline: 1px #f66 solid; */
     line-height: 30px;
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 20px;
     margin-top: 0;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }