<<<<<<< HEAD
.footer__column-links {  
   /*   outline: 1px aqua solid; */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0;
     padding: 0;
     margin-bottom: 16px;
     list-style-type: none;
=======
.footer__column-links {  
   /*   outline: 1px aqua solid; */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0;
     padding: 0;
     margin-bottom: 16px;
     list-style-type: none;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
   }