<<<<<<< HEAD
.table__cell_theme_dark {
   width: 200px;
   color: white;
   margin-top: 80px;
=======
.table__cell_theme_dark {
   width: 200px;
   color: white;
   margin-top: 80px;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
 }