<<<<<<< HEAD
.table__text {
   /*     outline: 1px #f66 solid; */
       margin: 0;
       line-height: 1.2;
       font-size: 18px;
       font-weight: normal;
       margin-top: 20px;
=======
.table__text {
   /*     outline: 1px #f66 solid; */
       margin: 0;
       line-height: 1.2;
       font-size: 18px;
       font-weight: normal;
       margin-top: 20px;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
     }