<<<<<<< HEAD
.khan__book-pic {
   /* outline: 1px #f66 solid; */
   width: 608px;
   height: 620px;
   margin-right: 48px;
   object-position: top;
   object-fit: cover;
=======
.khan__book-pic {
   /* outline: 1px #f66 solid; */
   width: 608px;
   height: 620px;
   margin-right: 48px;
   object-position: top;
   object-fit: cover;
>>>>>>> 5d6741c4626ffd02a0da1b47fc2e5523c59e44de
}